{% extends 'layouts/layout.html' %}

{% block title %} Nuevo Tipo de Movimiento {% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <h1>Crear nuevo Tipo de movimiento</h1>

    <form action="" method="POST">
        <div class="row mb-3">
            <div class="col">
              {% csrf_token %}
              {{ form }}
            </div>  
        </div>
    
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
{% endblock %}