/*ESTILOS GENERALES*/
.input-group-append {
    cursor: pointer;
  }

.clearfix{
    clear: both;
    float: none;
}

.input-group-append {
    cursor: pointer;
}
/*
footer{
    width: 1250px;
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #D1D4D6;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}
*/