/*ESTILOS GENERALES*/
.input-group-append {
    cursor: pointer;
  }

.clearfix{
    clear: both;
    float: none;
}

.input-group-append {
    cursor: pointer;
}

.h1-title{
    size: 30px;
}

footer{
    height: 50px;
    line-height: 33px;
}
