{% extends 'layouts/layout.html' %}

{% block title %} Tabla de Movimientos {% endblock %}

{% block content %}
<h1 class="h1-title">Todos los Movimientos</h1>
<div class="row mt-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table id="datatable-movements" class="table">
                <caption>Todos los movimientos</caption>
                <thead>
                    <tr>
                        <th class="centered">#</th>
                        <th class="centered">Date</th>
                        <th class="centered">Origin</th>
                        <th class="centered">Typo</th>
                        <th class="centered">Category</th>
                        <th class="centered">Pay Method</th>
                        <th class="centered">Amount</th>
                        <th class="centered">Observations</th>
                    </tr>
                </thead>
                <tbody id="tableBody_movements"></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}