{% extends "layouts/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              {{ message }}
          </div>
      {% endfor %}
  {% endif %}

  <h1>{{title}}</h1>   

  <form method='post' action='' class='form-control'>
    {% csrf_token %}
    
    <div class="mb-3 mt-3">
      <label class="form-label" for='username'>Nombre de usuario:</label>
      <input id="username" class='form-control' type='text' name='username' />
    </div>
    
    <div class="mb-3">
      <label class="form-label" for='password'>Contraseña:</label>
      <input id="pwd" class='form-control' type='password' name='password' />
    </div>
      
    <button class="btn btn-primary" type='submit'>Login</button>
      
  </form>
{% endblock %}