{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
            <!--Título de cada página-->
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>

    <!--Cabecera de la página-->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <img src="{% static 'images/logo.png' %}" />
            <h1>EconoCare</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            <li>
            {% if user.username %}
                <li>
                    <a href="#">Movimientos</a>
                    <ul>
                        <li><a href="{% url 'create_movement' %}">Nuevo Movimiento</a></li>
                        <li><a href="{% url 'movement_list' %}">Tabla de Movimientos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Configuración</a>
                    <ul>
                        <li><a href="{% url 'create_type' %}">Nuevo Tipo</a></li>
                        <li><a href="{% url 'create_category' %}">Nueva Categoría</a></li>
                        <li><a href="{% url 'create_origin' %}">Nuevo Origen</a></li>
                        <li><a href="{% url 'create_pay_method' %}">Nuevo Método de Pago</a></li>
                        <li><a href="/admin">Panel de Administración</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                    <ul>
                        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Identifícate</a>
                </li>    
            {% endif %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
            <!-- Código que viene de templates con el contenido -->
            {% endblock %}
        </div>
    </div>

    <footer>
        <p>EconoCare &copy; | Jaime Caicedo - 2023</p>
    </footer>
</body>

</html>