{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <p>Área 1</p>
        </div>
        <div class="col-sm">
          <p>Área 2</p>
        </div>
        <div class="col-sm">
          <p>Área 3</p>
        </div>
      </div>
    </div>

    
{% endblock %}