{% extends 'layouts/layout.html' %}
{% load django_tables2 %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <div>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="container-md">

        <div class="card text-center m-1">
            <div class="card-body">
                <h1 class="card-title fs-2 fw-bold">Resumen</h1>
            </div>
        </div>
          <div class="card-body">
              <h5>Movimientos</h5>
              <p>Total de Costos: {{ movements_total }}</p>
              {% render_table movements_table %}
              
              <h5>Orígenes</h5>
              <p>Total de Costos: {{ origins_total }}</p>
              {% render_table origins_table %}
              
              <h5>Tipos</h5>
              <p>Total de Costos: {{ types_total }}</p>
              {% render_table types_table %}
              
              <h5>Categorías</h5>
              <p>Total de Costos: {{ categories_total }}</p>
              {% render_table categories_table %}
              
              <h5>Métodos de Pago</h5>
              <p>Total de Costos: {{ paymethods_total }}</p>
              {% render_table paymethods_table %}
          </div>
      </div>
{% endblock %}
