{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <div>
                {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="fs-2 text-lg-start fw-bold">Resumen</h1>
        </div>
      </div>

      <div class="row">
        <div class="col m-2 bg-warning">
          <h1 class="fs-3 text-center fw-bold">Orígen</h1>
          <p>Aqui va el cuadro</p>
        </div>
        <div class="col m-2 bg-success">
          <h1 class="fs-3 text-center fw-bold">Tipo</h1>
          <p>Aqui va el cuadro</p>
        </div>
      </div>

      <div class="row">
        <div class="col m-2 bg-warning">
          <h1 class="fs-3 text-center fw-bold">Categoría</h1>
          <p>Aqui va el cuadro</p>
        </div>
        <div class="col m-2 bg-danger">
          <h1 class="fs-3 text-center fw-bold">Método de Pago</h1>
          <p>Aqui va el cuadro</p>
        </div>
      </div>

    </div>

    
{% endblock %}